a{
    text-decoration: none;
}

.cabecera {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cabecera__logo {
    width: 20%;
}

.cabecera__nav {
    position: relative;
    bottom: 0;
    background-color: #4d4d4d; 
    width: 100%;
    margin-right: auto;
}

.cabecera__nav__lista {
    display: flex;
}

.cabecera__nav__lista__enlace {
    margin: 1rem;
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif    
}

.cabecera__nav__lista__enlace:hover {
    color: green;
    text-decoration: underline;
}
